* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: red;
}

/* Here We have Removed Scrol Bar ---------------------------------------- */
body::-webkit-scrollbar {
    display: none;
}

.nav {
    position: fixed;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 99;
}
.nav a, i{
    font-size: 18px;
    text-decoration: none;
    color: #fff;
}
.cntr-nav {
    display: flex;
    gap: 3vw;
}
.nav i {
    font-size: 25px;
    cursor: pointer;
}
.one {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(150deg,rgb(255, 155, 0), rgb(255, 123, 0));
}
#Fanta {
    width: 40%;
    z-index: 2;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
#orange-cut {
    position: absolute;
    width: 200px;
    top: 15%;
    left: 35%;
    z-index: 1;
}
#orange {
    position: absolute;
    width: 270px;
    z-index: 3;
    top: 55%;
    left: 51%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
.one h1 {
    position: absolute;
    font-size: 25vw;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

#leaf {
    position: absolute;
    width: 200px;
    top: 17%;
    left: 2%;
    transform: rotate(60deg);
    z-index: 50;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
#leaf2 {
    position: absolute;
    width: 150px;
    top: 65%;
    left: 83%;
    transform: rotate(-90deg);
    z-index: 50;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
#leaf3 {
    position: absolute;
    width: 300px;
    top: 10%;
    right: 0%;
}
.two {
    display: flex;
    height: 100vh;
    width: 100%;
    background: #58380e;
}
.lft-two, .rght-two{
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    gap: 4vh;
    width: 50%;
    height: 100%;
}
.lft-two img {
    width: 40%;
    position: absolute;
    z-index: 5;
    left: 1%;
    top: 130%;
}
.lft-two svg {
    margin-top: 50vh;
    width: 90%;
    transform: rotateX(40deg);
}
.rght-two h1 {
    color: white;
    font-size: 4vw;
    font-family: Arial, Helvetica, sans-serif;
}
.rght-two p {
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.three {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    height: 100vh;
    width: 100%;
    background: linear-gradient(150deg,rgb(219, 132, 0), rgb(235, 113, 0));
}
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 25vw;
    height: 70vh;
    background: #fff;
    border-radius: 20px;
    gap: 2vh;
    margin-top: 10vh;
}
.card h1 {
    font-size: 3vw;
    margin-top: 40vh;
}
.card button {
    border-radius: 50px;
    border: none;
    background-color: rgb(255, 153, 0);
    color: #fff;
    font-size: 1vw;
    padding: 1vw 2vw;
    cursor: pointer;
}
.card img {
    position: absolute;
}
#cocacola {
    top: 15%;
    position: absolute;
    width: 20%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
#sprite {
    position: absolute;
    width: 28%;
    top: 14%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
.card:nth-child(1) {
    background-color: #80b3ff;
}
.card:nth-child(2) {
    background-color: #ffa600;
}
.card:nth-child(3) {
    background-color: #ff4d4d;
}
.lemon {
    top: 5%;
    width: 25%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
.preloader {
    background: black url(https://i0.wp.com/cdn.dribbble.com/users/1215152/screenshots/12858414/media/2899b4a569a01cdb3614b65e7f250092.gif?ssl=1) no-repeat center center;
    background-size: 30%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}
